@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

nav {
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu {
  display: flex;
  align-items: center;
  width: 65%;

  margin: 0 5rem;
  justify-content: space-around;
}

menu section {
  display: flex;
  align-items: center;
}

menu section a {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

nav button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d9f0d0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 8%;
}
/* End of header/nav */

/* Banner Section */
.banner {
  background: url(./images/banner-img.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 80vh;
  color: white;

  display: flex;
  align-items: center;
}

.banner h2 {
  font-size: 4rem;
}

.featured-banner-text {
  margin-left: 10rem;
  width: 39%;
}

.banner p {
  font-size: 1rem;
  margin-top: 1rem;
}

.play-button {
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 2rem 0;
  border-radius: 5rem;
}

.play-row {
  display: flex;
  align-items: center;
}

.play-row p {
  margin-top: 0;
}
/* End of Banner Section */

/* Featured Section */
.featured-section {
  display: flex;
  height: 50vh;
  padding: 0rem 4rem;
  margin: 6rem 0;
}

.featured-image {
  background: url(./images/artists/brentFaiyaz.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1.2;
}

.featured-text {
  flex: 1;
  padding: 0 15rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.featured-text h2 {
  font-size: 2.5rem;
  width: 70%;
  line-height: 3rem;
  color: #001d5d;
}

.featured-text button {
  width: 10rem;
  padding: 0.625rem;
  border: none;
  background-color: #d9f0d0;
  color: #42a418;
}

/* End of Featured Section */

/* New Releases Section */
.new-releases {
  height: 70vh;
  background-color: #f6f6f6;
}

.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}
.heading-section h2 {
  font-size: 2.5rem;
  color: #001d5d;
  padding-bottom: 1rem;
}

.heading-section span {
  display: inline-block;
  width: 55%;
  font-size: 1.125rem;
}
.heading-section div {
  text-align: center;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  width: 60%;
  height: 15rem;
  -webkit-box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  -moz-box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  margin-bottom: 2rem;
  padding: 3rem;
  background-color: white;
  /* justify-content: center;
  align-items: center; */
}

.card img {
  height: 100%;
}

.card-body h2 {
  color: #001d5d;
}

.card-body {
  padding: 0 1rem;
}

.slick-slide {
  /* border: 1px solid #ccc; */
  display: flex !important;
  justify-content: center;
  /* align-items: center; */
}

/* End of New Releases Section */

/* Google maps section */

.google-maps-section {
  height: 70vh;
}

/* End Google maps section */

/* Get in touch */
.get-in-touch {
  height: 80vh;
  background-color: white;
  display: flex;
}

.get-in-touch .form {
  width: 65%;
  border: 1px solid #ccc;
}

.form-container {
  padding: 5rem 8rem 5rem 5rem;
}

.get-in-touch .img-in-form {
  width: 35%;
  background: url(./images/artists/harry-swales-0l0KjNoAfAk-unsplash.jpg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form h2 {
  color: #001d5d;
  font-size: 2.5rem;
}

.form span {
  display: inline-block;
  margin-top: 1.25rem;
  font-size: 1.125rem;
  width: 55%;
  color: rgba(92, 92, 92, 0.39);
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* End of Get in touch */
