@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.form-container {
  overflow: hidden;
  position: relative;
}

nav {
  position: fixed;
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: white;
}

menu {
  display: flex;
  align-items: center;
  width: 65%;

  margin: 0 5rem;
  justify-content: space-around;
  z-index: 2;
}

menu section {
  display: flex;
  align-items: center;
}

menu section a {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.nav-buttons {
  transition: transform 0.2s ease-in-out;
}

.nav-buttons:hover,
nav button:hover {
  transform: scale(1.5);
  font-weight: 600;
}

nav button {
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
  text-align: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d9f0d0;
  cursor: pointer;
  width: auto;
  transition: all 0.2s ease-in-out;
}
/* End of header/nav */

/* Banner Section */
.banner {
  position: relative;
  z-index: -1;
  background: url(./images/banner-img.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 80vh;
  color: white;

  display: flex;
  align-items: center;
  animation: zoomInOut 10s infinite alternate;
  overflow: hidden;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.banner h2 {
  font-size: 4rem;
}

.featured-banner-text {
  margin-left: 10rem;
  width: 39%;
}

.banner p {
  font-size: 1rem;
  margin-top: 1rem;
}

.play-button {
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 2rem 0;
  border-radius: 5rem;
}

.play-row {
  display: flex;
  align-items: center;
}

.play-row p {
  margin-top: 0;
}
/* End of Banner Section */

/* Featured Section */
.featured-section {
  position: relative;
  z-index: 1;
  display: flex;
  height: 50vh;
  padding: 0rem 4rem;
  margin: 6rem 0;
}

.featured-image {
  background: url(./images/artists/brentFaiyaz.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex: 1.2;
}

.featured-text {
  flex: 1;
  padding: 0 15rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.featured-text h2 {
  font-size: 2.5rem;
  width: 70%;
  line-height: 3rem;
  color: #001d5d;
}

.featured-text button {
  width: 10rem;
  padding: 0.625rem;
  border: none;
  background-color: #d9f0d0;
  color: #42a418;
}

button.slick-prev {
  left: 5rem;
}
button.slick-next {
  right: 5rem;
}
/* End of Featured Section */

/* New Releases Section */
.new-releases {
  height: 70vh;
  background-color: #f6f6f6;
}

@media (max-height: 800px) {
  /* Your styles go here */
  .new-releases {
    height: 85vh;
  }
}

.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}
.heading-section h2 {
  font-size: 2.5rem;
  color: #001d5d;
  padding-bottom: 1rem;
}

.heading-section span {
  display: inline-block;
  width: 55%;
  font-size: 1.125rem;
  color: #777777;
}
.heading-section div {
  text-align: center;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  width: 60%;
  height: 15rem;
  -webkit-box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  -moz-box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  margin-bottom: 2rem;
  padding: 3rem;
  color: #777777;
  background-color: white;
  /* justify-content: center;
  align-items: center; */
}

.card img {
  height: 100%;
}

.card-body h2 {
  color: #001d5d;
}

.card-body {
  padding: 0 1rem;
}

.slick-slide {
  /* border: 1px solid #ccc; */
  display: flex !important;
  justify-content: center;
  /* align-items: center; */
}

/* End of New Releases Section */

/* Google maps section */

.google-maps-section {
  height: 70vh;
  padding: 0 2rem;
}

/* End Google maps section */

/* Get in touch */
.get-in-touch {
  height: 100vh;
  background-color: white;
  display: flex;
}

.get-in-touch .form {
  width: 60%;
  border: 1px solid #ccc;
}

.get-in-touch .img-in-form {
  width: 40%;
  background: url(./images/artists/harry-swales-0l0KjNoAfAk-unsplash.jpg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 5rem 15rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form h2 {
  color: #001d5d;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form span {
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-size: 1.125rem;
  width: 70%;
  color: #777777;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  color: #777777;
  margin-bottom: 1.25rem;
}

input,
option,
select,
textarea {
  padding: 1.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  color: #777777;
}

select {
  padding-right: 20px; /* Adjust the value based on your preference */
  /*background-image: url("arrow-icon.svg"); /* Replace 'arrow-icon.png' with your arrow image or use a built-in icon */
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none; /* Remove default arrow in Chrome/Safari/Edge */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
}

select::after {
  content: ""; /* Empty content for pseudo-element */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0; /* Adjust the size of the arrow */
  border-color: #000 transparent transparent; /* Adjust the color of the arrow */
  position: absolute;
  top: 50%;
  right: 100px; /* Adjust the right position based on your design */
  transform: translateY(-50%);
  transform: translateX(-50%);
  pointer-events: none; /* Ensure pseudo-element is not clickable */
}

.message-label {
  color: #777777;
  margin-bottom: 1.25rem;
}

textarea {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

form button {
  background-color: #d9f0d0;
  border: none;
  padding: 1.25rem;
  width: 30%;
}

/* End of Get in touch */

/* Footer Section */

footer {
  height: 40vh;
  background-color: #001d5d;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-map {
  display: flex;
  /* flex-direction: column; */
  flex: 1;
  justify-content: space-between;
  padding: 4rem 4rem 0;
  /* width: 50%; */
  position: relative;
}

footer {
  color: white;
}
.column {
  color: white;
  flex: 1;
}

.site-map .column:first-child {
  flex-grow: 1.5;
}
footer hr {
  margin: 0 50px;
  color: white;
}

.socials-terms-and-privacy {
  display: flex;
  justify-content: space-between;
  padding: 0rem 50px;
  /* margin-top: 2rem; */
  background-color: #001d5d;
  /* border-top: #f6f6f6 1px solid; */
}

.left-side {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
}

.left-side div {
  margin-right: 2rem;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
  width: 300px;
  align-items: right;
  color: white;
}
