/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
}

/* Body */
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: white;
}

nav menu {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 0 5rem;
  justify-content: space-around;
  z-index: 2;
}

nav menu section {
  display: flex;
  align-items: center;
}

nav menu section a {
  margin-left: 1rem;
}

nav .nav-buttons {
  transition: transform 0.2s ease-in-out;
}

nav .nav-buttons:hover,
nav button:hover {
  transform: scale(1.5);
  font-weight: 600;
}

nav button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d9f0d0;
  cursor: pointer;
  width: auto;
  transition: all 0.2s ease-in-out;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  background-color: #001d5d;
  height: 3px;
  width: 30px;
  transition: transform 2s, opacity 1s;
}

.bar:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Active state for the X */
.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(405deg) translate(9px, 0px);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-405deg) translate(11px, -2px);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Banner Section */
.stuff {
  overflow: hidden;
}
.banner {
  position: relative;
  z-index: -1;
  background: url(./images/banner-img.jpg) no-repeat center center;
  background-size: cover;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  animation: zoomInOut 10s infinite alternate;
  overflow: hidden;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.banner h2 {
  font-size: 4rem;
}

.featured-banner-text {
  margin-left: 10rem;
  width: 39%;
}

.banner p {
  font-size: 1rem;
  margin-top: 1rem;
}

.play-button {
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 2rem 0;
  border-radius: 5rem;
}

.play-row {
  display: flex;
  align-items: center;
}

.play-row p {
  margin-top: 0;
}

/* Featured Section */
.featured-section {
  position: relative;
  z-index: 1;
  display: flex;
  height: 50vh;
  padding: 0rem 4rem;
  margin: 6rem 0;
}

.featured-image {
  background: url(./images/artists/brentFaiyaz.webp) no-repeat center center;
  background-size: cover;
  flex: 1.2;
}

.featured-text {
  flex: 1;
  padding: 0 15rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #777777;
}

.featured-text h2 {
  font-size: 2.5rem;
  width: 70%;
  line-height: 3rem;
  color: #001d5d;
}

.featured-text button {
  width: 10rem;
  padding: 0.625rem;
  border: none;
  background-color: #d9f0d0;
  color: #42a418;
}

/* Carousel */
button.slick-prev {
  left: 5rem;
}

button.slick-next {
  right: 5rem;
}

/* New Releases Section */
.new-releases {
  height: 70vh;
  background-color: #f6f6f6;
}

.heading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}

.heading-section h2 {
  font-size: 2.5rem;
  color: #001d5d;
  padding-bottom: 1rem;
}

.heading-section span {
  display: inline-block;
  width: 55%;
  font-size: 1.125rem;
  color: #777777;
}

.heading-section div {
  text-align: center;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  width: 60%;
  height: 15rem;
  box-shadow: 6px 3px 5px -3px rgba(92, 92, 92, 0.39);
  margin-bottom: 2rem;
  padding: 3rem;
  color: #777777;
  background-color: white;
}

.card img {
  height: 100%;
}

.card-body h2 {
  color: #001d5d;
}

.card-body {
  padding: 0 1rem;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
}

/* Google Maps Section */
.google-maps-section {
  height: 70vh;
}

/* Get in Touch Section */
.get-in-touch {
  height: 100vh;
  background-color: white;
  display: flex;
}

.get-in-touch .form {
  width: 60%;
  border: 1px solid #ccc;
}

.get-in-touch .img-in-form {
  width: 40%;
  background: url(./images/artists/harry-swales-0l0KjNoAfAk-unsplash.jpg)
    no-repeat center center;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  padding: 5rem 15rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form h2 {
  color: #001d5d;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form span {
  display: inline-block;
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
  font-size: 1.125rem;
  width: 70%;
  color: #777777;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  color: #777777;
  margin-bottom: 1.25rem;
}

input,
option,
select,
textarea {
  padding: 1.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1.25rem;
  color: #777777;
}

select {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0;
  border-color: #000 transparent transparent;
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.message-label {
  color: #777777;
  margin-bottom: 1.25rem;
}

textarea {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

form button {
  background-color: #d9f0d0;
  border: none;
  padding: 1.25rem;
  width: 30%;
}

/* Footer Section */
footer {
  height: 40vh;
  background-color: #001d5d;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.site-map {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 4rem 4rem 0;
}

footer {
  color: white;
}

.mobile {
  display: none;
}

.column {
  color: white;
  flex: 1;
}

.site-map .column:first-child {
  flex-grow: 1.5;
}

footer hr {
  margin: 0 3.125rem;
  color: white;
}

.socials-terms-and-privacy {
  display: flex;
  justify-content: space-between;
  padding: 0rem 3.125rem;
  background-color: #001d5d;
}

.left-side {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
}

.left-side div {
  margin-right: 2rem;
}

.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.75rem;
  align-items: right;
  color: white;
}

/* Media Queries */

/* Short Screens */
@media (max-height: 850px) {
  .new-releases {
    height: 85vh;
  }
}

/* Mobile Screens */
@media (max-width: 600px) {
  nav {
    padding: 1rem 1.5rem;
  }
  nav menu {
    display: none;
  }

  .nav-toggle {
    display: flex;
  }

  nav button {
    display: none;
  }

  .banner {
    position: relative;
    z-index: -1;
    background: url(./images/mobile-banner-img.png) no-repeat center center;
    background-size: cover;
    height: 60vh;
    color: white;
    display: flex;
    align-items: center;
    animation: zoomInOut 10s infinite alternate;
    overflow: hidden;
  }

  .banner-content h2 {
    padding-top: 5.5rem;
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 0.7rem;
  }

  .featured-banner-text {
    margin-left: 2rem;
    width: 70%;
  }

  .card {
    padding: 0;
    /* width: 100%; */
  }

  .google-maps-section {
    height: 40vh;
  }
  .site-map {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-size: 0.6rem;
  }
  .site-map .column:first-child {
    flex-grow: 0;
  }

  .column {
    color: white;
    flex: 0;
  }

  .socials-terms-and-privacy {
    padding: 0rem 1rem;
    font-size: 0.6rem;
  }

  footer hr {
    margin: 0 1rem;
  }

  .right-side {
    width: 8rem;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .featured-section {
    /* display: none; */
  }
  .featured-section {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 0rem 1rem;
    margin: 2rem 0;
  }

  .featured-image {
    background: url(./images/artists/brentFaiyaz.webp) no-repeat center center;
    background-size: cover;
  }

  .featured-text {
    flex: 1;
    padding: 0 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: #777777;
    margin-top: 2rem;
  }

  .featured-text h2 {
    font-size: 2rem;
    width: 70%;
    line-height: 3rem;
    color: #001d5d;
  }

  .featured-text button {
    margin-top: 2rem;
    width: 10rem;
    padding: 0.625rem;
    border: none;
    background-color: #d9f0d0;
    color: #42a418;
  }

  button.slick-prev {
    left: 0rem;
  }

  button.slick-next {
    right: 0rem;
  }

  .new-releases {
    /* display: none; */
  }
  .card-body {
    display: none;
  }

  .get-in-touch {
    /* display: none; */
  }

  .get-in-touch {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
  }

  .get-in-touch .form {
    width: 100%;
    border: 1px solid #ccc;
  }

  .get-in-touch .img-in-form {
    /* height: 20vh; */
    height: 100%;
    width: 100%;
    background: url(./images/artists/harry-swales-0l0KjNoAfAk-unsplash.jpg)
      no-repeat center center;
    background-size: cover;
    flex-grow: 1;
  }

  .form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
  }

  .form h2 {
    color: #001d5d;
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form span {
    display: inline-block;
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    font-size: 0.8rem;
    width: 80%;
    color: #777777;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    width: 45%;
    color: #777777;
    margin-bottom: 1.25rem;
  }

  input,
  option,
  select,
  textarea {
    padding: 1.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1.25rem;
    color: #777777;
  }

  label {
    font-size: 0.8rem;
  }

  select {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #000 transparent transparent;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    pointer-events: none;
  }

  .message-label {
    color: #777777;
    margin-bottom: 1.25rem;
  }

  textarea {
    font-family: "Inter", sans-serif;
    /* width: 100%; */
    height: 100%;
    box-sizing: border-box;
  }

  form button {
    background-color: #d9f0d0;
    border: none;
    padding: 0.5rem;
    width: 30%;
  }
}
